<ng-container *ngIf="listCartBook && listCartBook.length > 0">
  <h5 style="margin-bottom: 1rem;">Books added to cart</h5>

  <div *ngFor="let book of listCartBook" style="padding-left: 1.5rem;" class="form-group row">
    <label [for]="book.id" class="col-form-label col-4" style="margin-right: 1rem;">{{book.name}}</label>

    <div (click)="onInputNumberChange('minus', book)">
      <i class="fas fa-minus iconPlusMinus"></i>
    </div>
    <span style="margin-top: 5px; margin-left: 0.5rem; margin-right: 0.5rem;">{{book.amount}}</span>
    <div (click)="onInputNumberChange('plus', book)">
      <i class="fas fa-plus iconPlusMinus"></i>
    </div>
    <div style="margin-top: 5px; margin-left: 1rem;">
      x {{book.price}}€ = {{Math.round((book.amount * book.price) * 100) / 100}}€
    </div>
  </div>

  <hr>

  <h5 style="margin-bottom: 1rem;">Total price {{totalPrice}}€</h5>

  <button type="button" class="btn btn-primary" style="margin-right: 10px;">Buy now</button>
  <button (click)="onClearBooks()" type="button" class="btn btn-danger">Delete cart</button>

</ng-container>

<ng-container *ngIf="!listCartBook || listCartBook.length === 0">
  <h5 id="titulo">The cart is empty</h5>
</ng-container>
